# Ignore node_modules folders in both client and server
/client/node_modules
/server/node_modules

# Ignore environment variable files
.env

# Ignore log files
*.log

# Ignore build artifacts, coverage, and dist folders
/build
/dist
/coverage

# Ignore OS specific files (e.g., macOS, Windows)
.DS_Store
Thumbs.db
